<div class="panel-container col-sm-offset-1">
    <div class="panel panel-warning col-sm-2">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{username}}</h3>
        </div>
        <div class="panel-body text-center">
            <h3>{{title}}</h3>
            <img src="/public/images/sampleAvatar.png">
            <h3>{{rank}}</h3>
        </div>
        <div class="panel-btn text-center">
            <button class="btn btn-raised btn-sm btn-danger" ng-hide="true" ng-click="memberRequest(5)">Unfollow</button>
            <button class="btn btn-raised btn-sm btn-info" ng-hide="false" ng-click="memberRequest(5)">Follow</button>
        </div>
    </div>
</div>
